<% provide(:title, "Best of SF City Guide | Top Restaurants Bars & Events") %>
<% provide(:body_class, " ") %>
 <!--Start Search Section-->
  <section class="search-section">
    <div class="container-fluid background-image san-franc">
      <div class="container">
        <div class="row">
          <div class="col-centered quoute-container col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <h1>Best of San Francisco City Guide by 10 Best SF</h1>
          </div>
        </div>
        <div class="row">
          <div class="heading-container col-centered col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <span>Search Top Ten Lists of Your Choice</span>
          </div>
        </div>
        <div class="row">
          <div class="search-field-container col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <%= form_for(:search_form, url:search_path, :method => 'get') do |f| %>
            <div class="search-wrapper">
              <span class="search_icon"></span>
              <%= text_field_tag :search, '', placeholder: "Search by Category", class:"search_field_input" %>
              <select name="search_select" id="search_select">
                <option></option>
                <% Category.all.each do |category| %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
              </select>
              <%= f.submit 'Coming Soon!', class: "search_button sf" %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid city-explore-container">
      <div class="container">
        <div class="row">
          <div class="ready-to-explore-container">
            <div class="text-container col-centered col-md-8 col-xs-12 col-lg-8 col-sm-12">
              <div class="question-container">Ready to Explore the City?</div>
              <div class="guide-container">Download Our Best of San Francsico City Guide</div>
              <div class="link-container"><a class="sf" href="#"></a></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section> 
    
  <!--Places Section-->
  <section class="places-section">
    <div class="container">
      <div class="row">
        <!--Large Place Container-->
        <div class="main-place-container col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="place-content-container">
            <%= link_to '', ranking_path('brunch-place'), class: 'place-link' %>
            <%= image_tag 'image-places-brands.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
            <div class="info-container">
              <div class="category-container">Best Food & Drink</div>
              <div class="title-container">TOP TEN BRUNCH PLACES IN SAN FRANCISCO</div>
              <div class="social-container">
                <ul class="social-list">
                  <li class="share-button">
                    <a href="#"></a></li>
                  <li class="like-button">
                    <a href="#"></a>
                  </li>
                  <li class="chat-container">
                    <a href="#"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--End Large Place Container-->

        <!--Small places container-->
        <div class="small-places-container col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 place-item">
              <div class="place-content-container">
                <%= link_to '', ranking_path('fashion-events'), class: 'place-link' %>
                <%= image_tag 'image-places-events.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                <div class="info-container">
                  <div class="category-container">Best Events</div>
                  <div class="title-container">TOP TEN FASHION EVENTS</div>
                  <div class="social-container">
                    <ul class="social-list">
                      <li class="share-button"><a href="#"></a></li>
                      <li class="like-button"><a href="#"></a></li>
                      <li class="chat-container"><a href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 place-item">
              <div class="place-content-container">
                <%= link_to '', ranking_path('hotel'), class: 'place-link' %>
                <%= image_tag 'image-places-parks.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                <div class="info-container">
                  <div class="category-container">Best Places</div>
                  <div class="title-container">TOP TEN HOTELS IN SF</div>
                  <div class="social-container">
                    <ul class="social-list">
                      <li class="share-button"><a href="#"></a></li>
                      <li class="like-button"><a href="#"></a></li>
                      <li class="chat-container"><a href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 place-item">
              <div class="place-content-container">
                <%= link_to '', ranking_path('travel-agency'), class: 'place-link' %>
                <%= image_tag 'image-places-travel.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                <div class="info-container">
                  <div class="category-container">Best Services</div>
                  <div class="title-container">TOP TEN TRAVEL AGENCIES</div>
                  <div class="social-container">
                    <ul class="social-list">
                      <li class="share-button"><a href="#"></a></li>
                      <li class="like-button"><a href="#"></a></li>
                      <li class="chat-container"><a href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 place-item">
              <div class="place-content-container">
                <%= link_to '', ranking_path('craft-breweire'), class: 'place-link' %>
                <%= image_tag 'image-places-brewery.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                <div class="info-container">
                  <div class="category-container">Best Local Brands</div>
                  <div class="title-container">TOP TEN CRAFT BREWERIES</div>
                  <div class="social-container">
                    <ul class="social-list">
                      <li class="share-button"><a href="#"></a></li>
                      <li class="like-button"><a href="#"></a></li>
                      <li class="chat-container"><a href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</section>
  <!--We make easy section-->
<section class="we-make-easy-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title-container">We Make It Easy to Find the Best</div>
      <div class="col-md-12 title-city-container">of San Francisco</div>
      <div class="separator-сontainer col-md-12">
        <div class="separator sf col-centered"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="text-info-container">
          The majority of our writers and researchers were born and raised in the San Francisco Bay Area. We have been 
          exploring the city and everything that it has to offer for decades! Moreover, we stay up-to-date with the top 
          trends, testing and experiencing the sights, sounds, and smells of locations all over the Greater Bay Area. Use
          our expertise to make your own selections of the best food, drink, event, and more!
        </div>
      </div>
      <div class="col-md-6">
        <div class="advantages-container">
          <ul class="advantages-list sf">
            <li class="advantages-item">
                <span class="text-container">
                  <div class="icon-database"></div> <div>We collect data and information from Twitter, Facebook, Google, and Yelp!</div> </span>
            </li>
            <li class="advantages-item">
                <span class="text-container">
                  <div class="icon-certificate"></div> <div>Listing order is the result of a range of qualitative & quantitative stats, including the payment of variable listing fees. </div> </span>
            </li>
            <li class="advantages-item">
                <span class="text-container">
                  <div class="icon-map"></div> <div>Taking as many locations into consideration as possible, we review contenders for quality and convenience.</div> </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="city-guide-container">
          <div class="title-container col-md-12">
            <div class="text">Best San Francisco Evaluation Process</div>
          </div>
          <div class="quote-container col-md-12">
            <div class="text">Digging deep to uncover the 'cool,' the 'trendy,' and the 'timeless'</div>
          </div>
          <div class="link-container col-md-12">
            <a class="sf" href="#">BEST SAN FRANCISCO CITY GUIDE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!--End we make it easy section-->

  <!--Feature Section-->
<section class="feature-section">
  <div class="container-fluid img-wrapper">
    <div class="image-container">
      <div class="info-container">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="category-container">Best Food & Drink</div>
            </div>
            <div class="col-md-12">
              <div class="title-container">TEN BEST RUM BARS</div>
            </div>
            <div class="col-md-7">
              <div class="text-container">
                10 Best Rum, operated in association with Alcohol Aficionado, finds great rum brands
                from around the world through our in-depth review process. We generate rankings of the <a href="#">Best Rum Brands</a>,
                including dark, gold & silver rums through data collected and the submission of registration fees. <a href="#">Alcohol
                Aficionado's alcohol awards</a> combines technology and the very traditional experience and love of spirits.
              </div>
            </div>
            <div class="col-md-7">
              <div class="button-container">
                <div class="read-more-container">
                  <a href="#">READ MORE</a>
                </div>
                <div class="social-container">
                  <ul class="social-list">
                    <li class="share-button"><a href="#"></a></li>
                    <li class="like-button"><a href="#"></a></li>
                    <li class="chat-container"><a href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="logos-container">
                <ul class="logos-list">
                  <li>
                    <a href="#"><%= image_tag 'logo-bacardi.png', class: 'img-responsive' %> </a>
                  </li>
                  <li>
                    <a href="#"><%= image_tag 'logo-malibu.png', class: 'img-responsive' %> </a>                    
                  </li>
                  <li>
                    <a href="#"><%= image_tag 'logo-kraken.png', class: 'img-responsive' %> </a>                    
                  </li>
                  <li>
                    <a href="#"><%= image_tag 'logo-koloa.png', class: 'img-responsive' %> </a>                    
                  </li>
                  <li>
                    <a href="#"><%= image_tag 'logo-mount.png', class: 'img-responsive' %> </a>                    
                  </li>
                  <li>
                    <a href="#"><%= image_tag 'logo-don.png', class: 'img-responsive' %> </a>                    
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--End of Feature Section-->

<!--Learn More Section  -->
<section class="learn-more-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-container">
          Learn More About Our Approach For
        </div>
      </div>
      <div class="col-md-12">
        <div class="quote-container">
          10 Best San Francisco
        </div>
      </div>
      <div class="separator-сontainer col-md-12">
        <div class="separator sf col-centered"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="text-container">
          <strong>10 Best SF</strong> does more than just let our researchers and reviewers give you their opinions. We 
          collect data and statistics from a number of sources which are presented to our reviewers. From their, our team 
          assesses using their experience and analysis from the information to create a write-up for your convenience!
        </div>
      </div>
      <div class="col-md-7">
        <div class="progress-container">
          <ul class="progress-list">
            <li class="progress-item">
              <div class="icon-expert sf"></div>
              <div class="progress-name-container">EXPERT OPINIONS</div>
              <div class="progress-bar-wrapper">
                <div class="progress-bar sf" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:45%">
                  30%
                </div>
              </div>
            </li>
            <li class="progress-item">
              <div class="icon-awards sf"></div>
              <div class="progress-name-container">PREVIOUS ACCOLADES</div>
              <div class="progress-bar-wrapper">
                <div class="progress-bar sf" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                  20%
                </div>
              </div>
            </li>
            <li class="progress-item">
              <div class="icon-phone sf"></div>
              <div class="progress-name-container">OTHER DATA & STATS</div>
              <div class="progress-bar-wrapper">
                <div class="progress-bar sf" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                  50%
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Learn More Section-->

<!--City Guide Section-->
<section  class="city-guide-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="city-guide-container">
          <div class="title-container col-md-12">
            <div class="text">Best San Francisco Evaluation Process</div>
          </div>
          <div class="quote-container col-md-12">
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
          <div class="link-container col-md-12">
            <a class="sf" href="#">BEST SAN FRANCISCO CITY GUIDE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!--End of city guide -->

  <!--Media section-->
<section class="media-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <a href="#"><%= image_tag 'media-ny.png', class: 'media-ny' %> </a>
        <a href="#"><%= image_tag 'media-wsj.png', class: 'media-ny' %> </a>
        <a href="#"><%= image_tag 'media-telecrunch.png', class: 'media-ny' %> </a>
        <a href="#"><%= image_tag 'media-tnw.png', class: 'media-ny' %> </a>
        <a href="#"><%= image_tag 'media-mashable.png', class: 'media-ny' %> </a>
      </div>
    </div>
  </div>
</section>
<!--End of Media section-->