<% provide(:title, "#{@company.name} | Top #{Category.find(@company.category).name} in SF") %>
<% provide(:body_class, "place-page") %>
<!--Start of banner section-->
<section class="main-banner-section">
    <div class="container-fluid no-padding">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <div class="text-container">
                        <h1>
                            <div class="category-title col-xs-12 col-sm-12 col-lg-12">
                                <span class="number"><%= @no %> <span class="separator">of <a href="/top-<%= url_code( Category.find(@company.category).name ) %>/" title="Top Brunch in SF" style="color:#787878; text-decoration: underline;">Best <%= Category.find(@company.category).name %> in SF</a></span></span>
                                <span class="category-name"><%= @company.name %></span>
                            </div>
                            <div class="location-wrapper col-xs-12 col-sm-12 col-lg-12">
                                <span class="location-container"><span class="location-icon"></span> <%= @position['address'] %></span>
                                <div class="share-container col-md-2 hidden-md hidden-lg  no-padding">
                                    <a href="#"><span class="text">Share</span><span class="icon-share"></span> <%= @company.share %> </a>
                                </div>
                            </div>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of banner section-->
<div class="social-modal">
    <div class="container">
      <h1>Share</h1>
      <%= social_share_button_tag(@company.name, :image => asset_path(@position['img'])) %>
      <span class="glyphicon glyphicon-remove-circle"></span>
    </div>
</div> 
<!--Start of buttons section-->
<section class="places-buttons-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 buttons-wrapper">
                <div class="directions-container col-md-2 col-xs-3 no-padding">
                    <a href="#">Directions</a>
                </div>
                <div class="contact-container col-md-2 col-xs-3 no-padding">
                    <a href="#">Contact</a>
                </div>
                <div class="website-container col-md-2 col-xs-3 no-padding">
                    <a href="#">Website</a>
                </div>
                <div class="view-menu-container col-md-2 col-xs-3 no-padding">
                    <a href="#">View menu</a>
                </div>
                <div class="share-container col-md-2 hidden-xs hidden-sm  no-padding">
                    <%= link_to shareup_path( @company.id ), remote: true do %>
                        <span class="text">Share</span><span class="icon-share"></span> <span class="separator"></span>
                        <span id ="share-text-<%= @company.id %>"><%= @company.share %></span> 
                    <% end %>
                </div>
                <div class="like-container col-md-2 hidden-xs hidden-sm no-padding">
                    <%= link_to likeup_path( @company.id ), remote: true do %>
                        <span class="text">Like</span><span class="icon-like"></span> <span class="separator"></span>
                        <span id ="like-text-<%= @company.id %>"><%= @company.like %></span> 
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of buttons section-->

<!--Start of main info container-->
<section class="main-info-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-container">
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                    error sit voluptatem accusantium.
                </span>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium.
                </span>
            </div>
            <div class="col-md-6 map-container">
                <div class="image-container" 
                style="background: url('<%= asset_path(@position['img']) %>') no-repeat center center; background-size: 100% ; height: 156px;">
                    <!-- <%= image_tag 'place-image.png', class: 'img-responsive' %> -->
                </div>
                <div class="google-map-container">
                    <div id="map"></div>
                </div>
                <script type="text/javascript">
                  function initialize() {
                        var mapCanvas = document.getElementById('map');
                        var mapOptions = {
                            center: new google.maps.LatLng(<%= @position['lat'] %>, <%= @position['lng'] %>),
                            zoom: 14
                        };
                        var map = new google.maps.Map(mapCanvas, mapOptions);
                        var icon = "<%= asset_path('icon-google-map.png') %>";
                        var pointMarker = new google.maps.Marker({
                            position: new google.maps.LatLng(<%= @position['lat'] %>, <%= @position['lng'] %>),
                            map: map,
                            icon: icon
                        });
                    }
                    // google.maps.event.addDomListener(window, 'load', initialize);
                </script>
                <script async defer src="<%= Rails.application.secrets[:google_map_url] %>key=<%= Rails.application.secrets[:google_map_key] %>&callback=initialize" type="text/javascript"></script>
                <!-- <script type="text/javascript" src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>  -->
            </div>
        </div>
    </div>
</section>
<!--end of main info container -->
<section class="place-slider-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 b_slider_wrapper">
                <div class="b_slider">
                    <%= image_tag 'place-slide-1.jpg', class: 'b_slider__slide img-responsive' %>
                    <%= image_tag 'place-slide-2.jpg', class: 'b_slider__slide img-responsive' %>
                    <%= image_tag 'place-slide-3.jpg', class: 'b_slider__slide img-responsive' %>
                    <%= image_tag 'place-slide-4.jpg', class: 'b_slider__slide img-responsive' %>
                    <%= image_tag 'place-slide-1.jpg', class: 'b_slider__slide img-responsive' %>
                    <%= image_tag 'place-slide-2.jpg', class: 'b_slider__slide img-responsive' %>
                    <%= image_tag 'place-slide-3.jpg', class: 'b_slider__slide img-responsive' %>
                    <%= image_tag 'place-slide-4.jpg', class: 'b_slider__slide img-responsive' %>
                </div>
            </div>
        </div>
    </div>
</section>

<!--end of main info container-->