<!--Start of Banner section-->
<section class="main-banner-section">
    <div class="container-fluid no-padding">
        <div class="banner-container">
            <div class="container">
                <div class="row">
                    <div class="category-title col-xs-12 col-sm-12 col-lg-12">
                        <span class="category-name ">Food & Drink</span>
                        <span class="separator">|</span>
                        <span class="date-container "> November 2015</span>
                    </div>
                    <h1 class="places-container col-xs-12 col-sm-12 col-lg-12">10 Best Brunch Restaurants in SF</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Banner section-->

<!--Start of places list section-->
<section class="places-list-section">

    <!--Start of place cont-->
    <div class="container-fluid no-padding">
        <div class="place-container container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 image-container no-padding hidden-sm hidden-xs">
                        <%= image_tag 'images-places-1.png', class: 'img-responsive' %>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 info-container">
                        <div class="header-section">
                            <div class="number-container">01</div>
                            <div class="separator"></div>
                            <div class="name-container">
                                <div class="title-container">Friends of Mine</div>
                                <div class="city-container"><span class="location-icon"></span>Richmond</div>
                            </div>
                            <div class="social-container">
                                <div class="share-container">
                                    <div class="share-button">
                                        <a href="#">
                                            <span class="text hidden-xs hidden-sm">Share</span>
                                            <span class="share-icon"></span>
                                            <span class="separator hidden-xs hidden-sm"></span>
                                            <div class="share-count hidden-xs hidden-sm">1.2m</div>
                                        </a>
                                    </div>

                                </div>
                                <div class="like-container">
                                    <div class="like-button">
                                        <a href="#">
                                            <span class="text hidden-xs hidden-sm">Like</span>
                                            <span class="like-icon"></span>
                                            <span class="separator hidden-xs hidden-sm"></span>
                                            <div class="like-count hidden-xs hidden-sm">1.2m</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-for-mobile hidden-lg hidden-md">
                            <%= image_tag 'images-places-1.png', class: 'img-responsive' %>
                        </div>
                        <div class="main-text-container">
                            <p>
                              <strong>#1 of 10 Best Brunch Places in SF</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                              do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                              nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                              dolor in reprehenderit in voluptate velit.
                            </p>
                        </div>
                        <div class="buttons-container">
                            <div class="learn-more-button"><a href="#">LEARN MORE</a></div>
                            <div class="go-to-website-button"><a href="#">GO TO WEBSITE</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of place container-->

    <!--Start of place cont-->
    <div class="container-fluid no-padding">
        <div class="place-container container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 image-container no-padding hidden-sm hidden-xs">
                        <%= image_tag 'images-places-2.png', class: 'img-responsive' %>                        
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 info-container">
                        <div class="header-section">
                            <div class="number-container">02</div>
                            <div class="separator"></div>
                            <div class="name-container">
                                <div class="title-container">Friends of Mine</div>
                                <div class="city-container"><span class="location-icon"></span>Richmond</div>
                            </div>
                            <div class="social-container">
                                <div class="share-container">
                                    <div class="share-button">
                                        <a href="#">
                                            <span class="text hidden-xs hidden-sm">Share</span>
                                            <span class="share-icon"></span>
                                            <span class="separator hidden-xs hidden-sm"></span>
                                            <div class="share-count hidden-xs hidden-sm">1.2m</div>
                                        </a>
                                    </div>

                                </div>
                                <div class="like-container">
                                    <div class="like-button">
                                        <a href="#">
                                            <span class="text hidden-xs hidden-sm">Like</span>
                                            <span class="like-icon"></span>
                                            <span class="separator hidden-xs hidden-sm"></span>
                                            <div class="like-count hidden-xs hidden-sm">1.2m</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-for-mobile hidden-lg hidden-md">
                            <%= image_tag 'images-places-2.png', class: 'img-responsive' %>                            
                        </div>
                        <div class="main-text-container">
                            <p>
                              <strong>#2 of Top 10 Brunch Locations in San Francisco</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                              do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                              nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                              dolor in reprehenderit in voluptate velit.
                            </p>
                        </div>
                        <div class="buttons-container">
                            <div class="learn-more-button"><a href="#">LEARN MORE</a></div>
                            <div class="go-to-website-button"><a href="#">GO TO WEBSITE</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of place container-->

    <!--Start of place cont-->
    <div class="container-fluid no-padding">
        <div class="place-container container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 image-container no-padding hidden-sm hidden-xs">
                        <%= image_tag 'images-places-3.png', class: 'img-responsive' %>                        
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 info-container">
                        <div class="header-section">
                            <div class="number-container">03</div>
                            <div class="separator"></div>
                            <div class="name-container">
                                <div class="title-container">Friends of Mine</div>
                                <div class="city-container"><span class="location-icon"></span>Richmond</div>
                            </div>
                            <div class="social-container">
                                <div class="share-container">
                                    <div class="share-button">
                                        <a href="#">
                                            <span class="text hidden-xs hidden-sm">Share</span>
                                            <span class="share-icon"></span>
                                            <span class="separator hidden-xs hidden-sm"></span>
                                            <div class="share-count hidden-xs hidden-sm">1.2m</div>
                                        </a>
                                    </div>

                                </div>
                                <div class="like-container">
                                    <div class="like-button">
                                        <a href="#">
                                            <span class="text hidden-xs hidden-sm">Like</span>
                                            <span class="like-icon"></span>
                                            <span class="separator hidden-xs hidden-sm"></span>
                                            <div class="like-count hidden-xs hidden-sm">1.2m</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-for-mobile hidden-lg hidden-md">
                            <%= image_tag 'images-places-3.png', class: 'img-responsive' %>
                        </div>
                        <div class="main-text-container">
                            <p>
                              <strong>#3 of 10 Best Brunch Restaurants in SF</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                              do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                              nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                              dolor in reprehenderit in voluptate velit.
                            </p>
                        </div>
                        <div class="buttons-container">
                            <div class="learn-more-button"><a href="#">LEARN MORE</a></div>
                            <div class="go-to-website-button"><a href="#">GO TO WEBSITE</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of place container-->

    <!--Start of place cont-->
    <div class="container-fluid no-padding">
        <div class="place-container container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 image-container no-padding hidden-sm hidden-xs">
                        <%= image_tag 'images-places-4.png', class: 'img-responsive' %>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 info-container">
                        <div class="header-section">
                            <div class="number-container">04</div>
                            <div class="separator"></div>
                            <div class="name-container">
                                <div class="title-container">Friends of Mine</div>
                                <div class="city-container"><span class="location-icon"></span>Richmond</div>
                            </div>
                            <div class="social-container">
                                <div class="share-container">
                                    <div class="share-button">
                                        <a href="#">
                                            <span class="text hidden-xs hidden-sm">Share</span>
                                            <span class="share-icon"></span>
                                            <span class="separator hidden-xs hidden-sm"></span>
                                            <div class="share-count hidden-xs hidden-sm">1.2m</div>
                                        </a>
                                    </div>

                                </div>
                                <div class="like-container">
                                    <div class="like-button">
                                        <a href="#">
                                            <span class="text hidden-xs hidden-sm">Like</span>
                                            <span class="like-icon"></span>
                                            <span class="separator hidden-xs hidden-sm"></span>
                                            <div class="like-count hidden-xs hidden-sm">1.2m</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-for-mobile hidden-lg hidden-md">
                            <%= image_tag 'images-places-4.png', class: 'img-responsive' %>
                        </div>
                        <div class="main-text-container">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit.
                        </div>
                        <div class="buttons-container">
                            <div class="learn-more-button"><a href="#">LEARN MORE</a></div>
                            <div class="go-to-website-button"><a href="#">GO TO WEBSITE</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of place container-->

    <!--Start of place cont-->
    <div class="container-fluid no-padding">
        <div class="place-container container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 image-container no-padding hidden-sm hidden-xs">
                        <%= image_tag 'images-places-5.png', class: 'img-responsive' %>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 info-container">
                        <div class="header-section">
                            <div class="number-container">05</div>
                            <div class="separator"></div>
                            <div class="name-container">
                                <div class="title-container">Friends of Mine</div>
                                <div class="city-container"><span class="location-icon"></span>Richmond</div>
                            </div>
                            <div class="social-container">
                                <div class="share-container">
                                    <div class="share-button">
                                        <a href="#">
                                            <span class="text hidden-xs hidden-sm">Share</span>
                                            <span class="share-icon"></span>
                                            <span class="separator hidden-xs hidden-sm"></span>
                                            <div class="share-count hidden-xs hidden-sm">1.2m</div>
                                        </a>
                                    </div>

                                </div>
                                <div class="like-container">
                                    <div class="like-button">
                                        <a href="#">
                                            <span class="text hidden-xs hidden-sm">Like</span>
                                            <span class="like-icon"></span>
                                            <span class="separator hidden-xs hidden-sm"></span>
                                            <div class="like-count hidden-xs hidden-sm">1.2m</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-for-mobile hidden-lg hidden-md">
                            <%= image_tag 'images-places-5.png', class: 'img-responsive' %>
                        </div>
                        <div class="main-text-container">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit.
                        </div>
                        <div class="buttons-container">
                            <div class="learn-more-button"><a href="#">LEARN MORE</a></div>
                            <div class="go-to-website-button"><a href="#">GO TO WEBSITE</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of place container-->
</section>
<!--End of places list section-->

<!--google map section-->
<section class="google-map-section">
    <div class="container-fluid no-padding">
        <div id="map"></div>
    </div>
</section>
<div class="infobox-wrapper">
    <div id="infobox">
        <div class="google-map-arrow"></div>
        <img class="col-md-4 col-xs-4 no-padding" src="/assets/images/place-google-map.png">
           <div class="header-container col-md-8">
               <div class="title-container">
                   <span class="title-text">Friends of Mine</span>
                   <div class="location-container"><span class="location-icon"></span> 1234 Street, Richmond</div>
               </div>
               <div class="directions-container"><a href="#">DIRECTIONS</a></div>
               <div class="footer-section">
                   <div class="buttons-container">
                       <a class="world-map" href="#"></a>
                       <span class="separator"></span>
                       <a class="mail" href="#"></a>
                       <span class="separator"></span>
                       <a class="phone" href="#"></a>
                   </div>
               </div>
           </div>

    </div>
</div>

<!--end of google map section-->

<!--google map-->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
