<% category = Category.find(@category).name unless @category.nil? %>
<% provide(:title, "SEARCH | \"#{@search_str}\" | #{category}") %>
<% provide(:body_class, "about-us-page") %>
<!-- Search caption section -->
	<section class="info-about-us-section">
	    <div class="container">
	        <div class="row">
	            <div class="logo-container col-md-12"><span class="site-name sf">Search for:</span>
	            <span class="city-name"><%= @search_str %></span></div>
	            <div class="col-md-12 info-text-container">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
	                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
	                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
	                velit esse cillum dolore eu fugiat nulla pariatur.
	                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	                Sed ut perspiciatis unde omnis iste natus.</div>
	        </div>
	        <div class="col-md-12 next-button-container">
	            <a class="next-button" ></a>
	        </div>
	    </div>
	</section>
<!-- Search Result Section -->
  <section class="search-result">
    <div class="container" style="text-align:center;">
    	<% unless @companies.nil? or @companies.length <= 0 %> 	      
	        <div>
	        <div class="search-result-div" >
	        <style type="text/css">
	        	.search-result-div{
	        		height: <%= search_result_height @companies.length %>px;
	        	}
	        	@media only screen and (max-width: 980px){
	        		.search-result-div{
	        			height: <%= (search_result_height @companies.length ) * 2 - 270 %>px;
	        		}	        		
	        	}
	        	@media only screen and (max-width: 600px){
	        		.search-result-div{
	        			height: <%= ( (search_result_height @companies.length ) * 2 - 270 ) * 0.8 %>px;
	        		}	        		
	        	}
	        	@media only screen and (max-width: 450px){
	        		.search-result-div{
	        			height: <%= ( (search_result_height @companies.length ) * 2 - 270 ) * 0.6 %>px;
	        		}	        		
	        	}
	        	@media only screen and (max-width: 320px){
	        		.search-result-div{
	        			height: <%= ( (search_result_height @companies.length ) * 2 - 270 ) * 0.5 %>px;
	        		}	        		
	        	}
	        </style>
	        	<% @companies.each_with_index do | company, index | %>
	        		<% 
	        			position = position( index, 4 )
	        			res_position = position( index, 2)
	        		%>
	        		<%= link_to ranking_path( url_code( Category.find(company.category).name ) ) do %>
				  		<div class="box" id = "box-<%= index %>" >
					  		<div class="img-background">
					  			<span class="<%= Category.find(company.category).name.downcase %>"></span>
					  			<span><%= set_title company.name %></span>
					  			<div class="img-mask">
					  				<span>Top <%= modal_text company %> <br>in San Francisco</span>
					  			</div>
					  		</div>					  					
				  		</div>
				  		<style type="text/css">
				  			#box-<%= index %>{
				  				top:<%= position[:top] %>px;
				  				left: <%= position[:left] %>px;
				  			}

				  			@media only screen and (max-width: 980px) {
				  				#box-<%= index %>{
					  				top:<%= res_position[:top] %>px;
					  				left: <%= res_position[:left] %>px;
					  			}
				  			}
				  		</style>
			  		<% end %>
			  	<% end %>
	        </div>
	        </div>
	      </table> 
      	<% else %>
      		No Result...
      	<% end %>
      	<% if @limit.nil? %>
	      	<div class="row">
	    		<div class="col-md-12">
	    			<div class="button-container">
	    				<%= link_to 'View More Results <span class="arrow">&#8594</span>'.html_safe, "#{search_url}?search=#{@search_str}&search_select=#{@category}&limit=all" %>                    
	                </div>
	    		</div>
	    	</div>
    	<% end %>  
    </div>
  </section>
   
<!--Our partners section-->
<section class="our-partners-section">
    <div class="container">    	
        <div class="row">
            <div class="col-md-12 title-container"><div>our partners</div></div>
            <ul class="partners-list">
                <li><%= image_tag 'icons-partner-1.png' %></li>
                <li><%= image_tag 'icons-partner-2.png' %></li>
                <li><%= image_tag 'icons-partner-3.png' %></li>
                <li><%= image_tag 'icons-partner-4.png' %></li>
                <li><%= image_tag 'icons-partner-5.png' %></li>
                <li><%= image_tag 'icons-partner-6.png' %></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12 become-partner-container">
                <div class="text-container">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                </div>
                <div class="button-container">
                    <!-- <a href="#">BECOME A PARTNER <span class="arrow">&#8594</span></a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!--end of our partners section-->