<% category = Category.find(@category).name unless @category.nil? %>
<% provide(:title, "SEARCH | \"#{@search_str}\" | #{category}") %>
<% provide(:body_class, "search-page") %>
<!-- Search Result Section -->
  <section class="search-result">
    <div class="container">
    	<h3>Search <%= category unless category.nil? %> <%= "for \"#{@search_str}\"" unless @search_str.nil? or @search_str == '' %> </h3>
	    <% unless @companies.nil? or @companies.length <= 0 %> 
	      <table class="table">
	        <thead>
	          <tr>
	            <th>Name</th>
	            <th>Category</th>
	            <th>Sub Category</th>
	            <th>City</th>
	          </tr>
	        </thead>
	        <tbody>
	          <% @companies.each do |company|%>
	            <tr><td><%= company.name %></td>
	            <td><%= Category.find(company.category).name %></td>
	            <td><%= SubCategory.find(company.subcategory).name unless company.subcategory.nil? %></td>
	            <td><%= company.city %></td></tr>
	          <% end %>
	        </tbody>
	      </table> 
      	<% end %>  
    </div>
  </section>
   