<% provide(:title, "Best Companies") %>
<% provide(:body_class, "company-page") %>

<div class="container">
<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>City</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= company.name %></td>
        <td><%= company.city %></td>
        <td><%= company.category %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-ok"></span>'.html_safe, company %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_company_path(company) %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
</div>